In [ ]:
import pandas as pd
df = pd.read_excel('score.xlsx', index_col='지원번호')
df

# 학교 구로고 -> 가산고, 디지털고 -> 단지고 변경
# 4번 SW특기 -> Django
# 5번 SW특기 -> Python
# SW특기 소문자로 변경
# 합계컬럼을 추가하시오.
# 결과 컬럼을 추가해서 400점이상은 pass, 아니면 fail 출력

df['학교'].replace({'구로고': '가산고', '디지털고': '단지고'}, inplace=True)

df.loc[['4번', '5번'], 'SW특기'] = ['Django', 'Python']

df['SW특기'] = df['SW특기'].str.lower()

df['합계'] = df['국어'] + df['영어'] + df['수학'] + df['과학'] + df['사회']

df['결과'] = 'Fail'
filt = df['합계'] >= 400
df.loc[filt, '결과'] = 'Pass'

C:\Users\KOSMO\AppData\Local\Temp\ipykernel_5500\3784967082.py:12: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['학교'].replace({'구로고': '가산고', '디지털고': '단지고'}, inplace=True)

       이름   학교    키   국어   영어   수학  과학  사회        SW특기   합계    결과
지원번호
1번    강나래  가산고  197   90   85  100  95  85      python  455  Pass
2번    강태원  가산고  184   40   35   50  55  25        java  205  Fail
3번    강호림  가산고  168   80   75   70  80  75  javascript  380  Fail
4번    김수찬  가산고  187   40   60   70  75  80      django  325  Fail
5번    김재욱  가산고  188   15   20   10  35  10      python   90  Fail
6번    박동현  단지고  202   80  100   95  85  80           c  440  Pass
7번    박혜정  단지고  188   55   65   45  40  35      python  240  Fail
8번    승근열  단지고  190  100   85   90  95  95          c#  465  Pass

In [ ]:
### 문자열 = 문자열 + 문자열
df['학교'] = df['학교'] + '등학교'
df

       이름      학교    키   국어   영어   수학  과학  사회        SW특기   합계    결과
지원번호
1번    강나래  가산고등학교  197   90   85  100  95  85      python  455  Pass
2번    강태원  가산고등학교  184   40   35   50  55  25        java  205  Fail
3번    강호림  가산고등학교  168   80   75   70  80  75  javascript  380  Fail
4번    김수찬  가산고등학교  187   40   60   70  75  80      django  325  Fail
5번    김재욱  가산고등학교  188   15   20   10  35  10      python   90  Fail
6번    박동현  단지고등학교  202   80  100   95  85  80           c  440  Pass
7번    박혜정  단지고등학교  188   55   65   45  40  35      python  240  Fail
8번    승근열  단지고등학교  190  100   85   90  95  95          c#  465  Pass

In [32]:
str(df.loc['1번', '키']) + 'cm'

'197cm'

In [34]:
type(df['키'])

pandas.core.series.Series

In [36]:
str(list(df['키']))

'[197, 184, 168, 187, 188, 202, 188, 190]'