In [ ]:
import pandas as pd
# dict타입으로 구생해서 2차원 데이터로 변환
data = {
  '이름': ['강나래', '강태원', '강호림', '김수찬', '김재욱', '박동현', '박혜정', '승근열'],
  '학교': ['구로고', '구로고', '가산고', '구로고', '가산고', '가산고', '구로고', '구로고'],
  '키': [197, 184, 168, 187, 188, 202, 188, 190],
  '국어': [90, 40, 80, 40, 15, 80, 55, 100],
  '영어': [85, 35, 75, 60, 20, 100, 65, 85],
  '수학': [100, 50, 70, 70, 10, 95, 45, 90],
  '사회': [85, 25, 75, 80, 10, 80, 35, 95],
  'SW특기': ['Python', 'Java', 'Javascript', ' ', ' ', 'C', 'Python', 'C#']
}

In [3]:
data
type(data)

dict

In [ ]:
# dict타입: 키를 활용해서 데이터를 출력
data['키']
data['SW특기']

['Python', 'Java', 'Javascript', ' ', ' ', 'C', 'Python', 'C#']

In [ ]:
# dict 타입을 pandas -> DataFrame
# t = pd.Series(temp)
df = pd.DataFrame(data) # dict 타입을 입력하면 DataFrame 타입으로 변경
df

0    강나래
1    강태원
2    강호림
3    김수찬
4    김재욱
5    박동현
6    박혜정
7    승근열
Name: 이름, dtype: object

In [ ]:
df['이름']
df[['이름', '키']]
df[['국어', '이름']] # 2개 컬럼 출력 - []를 2번 사용
df[['이름', '키', '국어']] # 3개 컬럼 출력

    국어   이름
0   90  강나래
1   40  강태원
2   80  강호림
3   40  김수찬
4   15  김재욱
5   80  박동현
6   55  박혜정
7  100  승근열

In [11]:
# 컬럼이름을 모두 확인
df.columns

Index(['이름', '학교', '키', '국어', '영어', '수학', '사회', 'SW특기'], dtype='object')

In [ ]:
# 데이터에서 특정컬럼만 뽑아서 가져올 수 있음
# 순서도 변경가능
df = pd.DataFrame(data, columns=['SW특기', '이름', '학교'])
df

    이름   학교        SW특기
0  강나래  구로고      Python
1  강태원  구로고        Java
2  강호림  가산고  Javascript
3  김수찬  구로고
4  김재욱  가산고
5  박동현  가산고           C
6  박혜정  구로고      Python
7  승근열  구로고          C#