In [1]:
import pandas as pd

In [8]:
# index_col 컬럼명이 없는 경우: index 번호로 지정
# df = pd.read_excel('출산율.xlsx', skiprows=2, nrows=1, index_col=0)
# df.index.name = '목록'
# df.index
# df.loc['합계출산율']

c:\python\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

2012    1.30
2013    1.19
2014    1.21
2015    1.24
2016    1.17
2017    1.05
2018    0.98
2019    0.92
2020    0.84
2021    0.81
2022    0.78
2023    0.72
Name: 합계출산율, dtype: float64

In [47]:
df2 = pd.read_excel('출산율2.xlsx', skiprows=2, nrows=2, index_col=0)
df2.index.name = '목록'
df2.index
df2.index.values # index 문자공백: 유니코드까지 확인

# 출생아 수
df2.loc['출생아\xa0수']
# 합계 출산율
# df2.loc['합계\xa0출산율']

c:\python\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

2014    435.4
2015    438.4
2016    406.2
2017    357.8
2018    326.8
2019    302.7
2020    272.3
2021    260.6
2022    249.1
2023    230.0
Name: 출생아 수, dtype: float64

In [48]:
df2.index.values
df2.rename(index={'출생아\xa0수': '출생아 수', '합계\xa0출산율': '합계 출산율'}, inplace=True)
df2.index.values

array(['출생아 수', '합계 출산율'], dtype=object)

In [35]:
df2.loc['출생아 수']

2014    435.4
2015    438.4
2016    406.2
2017    357.8
2018    326.8
2019    302.7
2020    272.3
2021    260.6
2022    249.1
2023    230.0
Name: 출생아 수, dtype: float64

In [49]:
# index, 컬럼의 축 변경
df2 = df2.T

In [46]:
df2.describe()

목록         출생아 수     합계 출산율
count   10.00000  10.000000
mean   327.93000   0.970800
std     78.06133   0.188678
min    230.00000   0.720000
25%    263.52500   0.815250
50%    314.75000   0.947500
75%    394.10000   1.142000
max    438.40000   1.239000

In [1]:
df2['출생아 수'].min()

NameError: name 'df2' is not defined