In [19]:
import pandas as pd
df = pd.read_excel('score.xlsx', index_col='지원번호')

In [ ]:
df['이름']
df[['이름', '학교', '키']]
df[['키', '이름', 'SW특기']]

        키   이름        SW특기
지원번호
1번    197  강나래      Python
2번    184  강태원        Java
3번    168  강호림  Javascript
4번    187  김수찬         NaN
5번    188  김재욱         NaN
6번    202  박동현           C
7번    188  박혜정      Python
8번    190  승근열          C#

In [9]:
df = pd.read_excel('score.xlsx', index_col='이름')
df
df['국어'].describe()

count      8.000000
mean      62.500000
std       29.519969
min       15.000000
25%       40.000000
50%       67.500000
75%       82.500000
max      100.000000
Name: 국어, dtype: float64

In [ ]:
df.describe() # 숫자에 해당되는 것만 출력됨.

                키          국어          영어          수학         사회
count    8.000000    8.000000    8.000000    8.000000   8.000000
mean   188.000000   62.500000   65.625000   66.250000  60.625000
std      9.985704   29.519969   26.917533   30.325614  32.120032
min    168.000000   15.000000   20.000000   10.000000  10.000000
25%    186.250000   40.000000   53.750000   48.750000  32.500000
50%    188.000000   67.500000   70.000000   70.000000  77.500000
75%    191.750000   82.500000   85.000000   91.250000  81.250000
max    202.000000  100.000000  100.000000  100.000000  95.000000

In [ ]:
df.head()
df.tail()
df.values
df.shape
df.columns
df['이름']
df.columns[-1]
# df[0] # df[번호로는 검색이 안됨.]
df[df.columns[0]] # 1번째 컬럼이 출력이 됨.
df[df.columns[-1]] # 마지막 컬럼이 출력이 됨.
df.columns[0:3] # 0, 1, 2 까지 컬럼 이름을 가져옴
df.columns
# df.info()

df['키'].min()
df['키'].max()
df['키'].mean()
df['키'].nlargest()
df['키'].nsmallest(3) # 기본은 5개, 숫자를 입력하면 숫자만큼 출력이 됨.
df['학교'].unique() # unique 중복제거
df['학교'].nunique() # 중복제거 개수
df['SW특기'].count() # null 값을 제외한 개수 6개
df['학교'].count() # 중복값이 없어서 8개
df['국어'].sum()

np.int64(168)

In [ ]:
df.columns
df.columns[[0, 3, -1]] # 0, 1, 마지막 번째 가져옴.