In [1]:
import pandas as pd
import numpy as np
df = pd.read_excel('score.xlsx', index_col='지원번호')

In [44]:
df = pd.read_excel('연령별인구현황01.xlsx', index_col='행정기관', skiprows=3, nrows=1, usecols='B, E:Y')
# df.loc['전국']
df.index
# 빈공백 제거
df.index[0].strip()
# index 1번째 row 데이터를 출력
df.loc[df.index[0]] # df.loc['전국  ']

# index 이름을 변경
df.rename(index={df.index[0]: df.index[0].strip()}, inplace=True)
df.index

c:\python\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

Index(['전국'], dtype='object', name='행정기관')

In [35]:
df.loc['전국']

0~4세         678,966
5~9세       1,019,087
10~14세     1,195,436
15~19세     1,195,498
20~24세     1,446,090
25~29세     1,777,534
30~34세     1,788,146
35~39세     1,629,589
40~44세     2,055,022
45~49세     1,965,092
50~54세     2,279,578
55~59세     2,115,365
60~64세     2,093,694
65~69세     1,670,380
70~74세     1,066,316
75~79세       760,968
80~84세       519,583
85~89세       231,644
90~94세        59,761
95~99세         9,722
100세 이상        1,473
Name: 전국, dtype: object

In [ ]:
df.iloc[0] = df.iloc[0].str.replace(',','').astype(int)

In [45]:
df['0~4세']
df['5~9세']
df['0~4세'] + df['5~9세']

행정기관
전국    678,9661,019,087
dtype: object

In [46]:
df.loc['전국'] = df.loc['전국'].str.replace(',','').astype(int)

In [47]:
df = df.T

In [53]:
df['전국'].min()
df['전국'].max()

2279578

In [88]:
df = pd.read_excel('출산율2.xlsx', skiprows=2, nrows=2, index_col=0)
df.index.name = '목록'
df.index.values

df.rename(index={'출생아\xa0수': '출생아 수', '합계\xa0출산율': '합계 출산율'}, inplace=True)

c:\python\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [103]:
# df.index.values

df = df.T
df.columns
df['출생아 수'].min()
df['출생아 수'].max()
df['출생아 수'].mean()

np.float64(327.92999999999995)

In [105]:
import pandas as pd

df = pd.read_excel('출산율2.xlsx', skiprows=2, nrows=2, index_col=0)
df.index.values

c:\python\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

array(['출생아\xa0수', '합계\xa0출산율'], dtype=object)

In [106]:
df.rename(index={'출생아\xa0수': '출생아수', '합계\xa0출산율': '합계출산율'}, inplace=True)
df.index.values

array(['출생아수', '합계출산율'], dtype=object)

In [107]:
df = df.T

In [ ]:
df['출생아수'].min()
df['출생아수'].max()
df['출생아수'].mean()

np.float64(327.92999999999995)

In [116]:
filt = (df['출생아수'] >= 300) & (df['합계출산율'] >= 1)
df[filt]

       출생아수  합계출산율
2014  435.4  1.205
2015  438.4  1.239
2016  406.2  1.172
2017  357.8  1.052