In [58]:
import pandas as pd
data = {
   '영화' : ['명량', '극한직업', '신과함께-죄와 벌', '국제시장', '괴물', '도둑들', '7번방의 선물', '암살'],
   '개봉 연도' : [2014, 2015, 2017, 2014, 2015, 2017, 2013, 2015],
   '관객 수' : [1761, 1626, 1441, 1426, 1301, 1298, 1281, 1270], # (단위 : 만 명)
   '평점' : [8.88, 9.20, 8.73, 9.16, 8.62, 7.64, 8.83, 9.10]
}

In [59]:
df = pd.DataFrame(data)

In [21]:
### 관객수 * 10000, 관객수로 역순정렬하시오
df['관객 수'] = df['관객 수'] * 10000
df.sort_values('관객 수', ascending=False)

          영화  개봉 연도      관객 수    평점
0         명량   2014  17610000  8.88
1       극한직업   2019  16260000  9.20
2  신과함께-죄와 벌   2017  14410000  8.73
3       국제시장   2014  14260000  9.16
4         괴물   2006  13010000  8.62
5        도둑들   2012  12980000  7.64
6    7번방의 선물   2013  12810000  8.83
7         암살   2015  12700000  9.10

In [52]:
# 개봉 연도 연도를 추가 하시오
df['개봉 연도'] = df['개봉 연도'].astype(str) + '연도'

In [ ]:
### 관객수 천단위 표시
df['관객 수'] = '$' + df['관객 수'].map('{:,}'.format)

In [48]:
### $ 없애고, 천단위 표시 없애고, int 타입으로 변경
df['관객 수'] = df['관객 수'].str[1:].str.replace(',', '').astype(int)

In [ ]:
## 추천점수 컬럼을 추가: 추천 점수 = (관객 수 * 평점) / 100 
df['추천점수'] = (df['관객 수'] * df['평점']) // 100

In [63]:
## 연도별 그룹핑을 해서 관객수 출력
df.groupby('개봉 연도')[['관객 수']].sum().sort_values('관객 수', ascending=False)

       관객 수
개봉 연도
2015   4197
2014   3187
2017   2739
2013   1281