In [1]:
import pandas as pd
df = pd.read_csv('chipotle.tsv', sep='\t')

In [ ]:
### item_name 그룹별로 개수확인
# df.groupby('item_name')['order_id'].count() # 그룹화를 해서 출력
# df['item_name'].value_counts().sort_values() # 순차정렬
df['item_name'].value_counts().sort_values(ascending=False) # 역순정렬
df['item_name'].value_counts() # 자동정렬

item_name
Chicken Bowl                             726
Chicken Burrito                          553
Chips and Guacamole                      479
Steak Burrito                            368
Canned Soft Drink                        301
Chips                                    211
Steak Bowl                               211
Bottled Water                            162
Chicken Soft Tacos                       115
Chips and Fresh Tomato Salsa             110
Chicken Salad Bowl                       110
Canned Soda                              104
Side of Chips                            101
Veggie Burrito                            95
Barbacoa Burrito                          91
Veggie Bowl                               85
Carnitas Bowl                             68
Barbacoa Bowl                             66
Carnitas Burrito                          59
Steak Soft Tacos                          55
6 Pack Soft Drink                         54
Chips and Tomatillo Red Chili Salsa       48
Chicken Crispy Tacos                      47
Chips and Tomatillo Green Chili Salsa     43
Carnitas Soft Tacos                       40
Steak Crispy Tacos                        35
Chips and Tomatillo-Green Chili Salsa     31
Steak Salad Bowl                          29
Nantucket Nectar                          27
Barbacoa Soft Tacos                       25
Chips and Roasted Chili Corn Salsa        22
Izze                                      20
Chips and Tomatillo-Red Chili Salsa       20
Veggie Salad Bowl                         18
Chips and Roasted Chili-Corn Salsa        18
Barbacoa Crispy Tacos                     11
Barbacoa Salad Bowl                       10
Chicken Salad                              9
Veggie Soft Tacos                          7
Carnitas Crispy Tacos                      7
Burrito                                    6
Carnitas Salad Bowl                        6
Veggie Salad                               6
Steak Salad                                4
Crispy Tacos                               2
Bowl                                       2
Salad                                      2
Chips and Mild Fresh Tomato Salsa          1
Veggie Crispy Tacos                        1
Carnitas Salad                             1
Name: count, dtype: int64

In [ ]:
# 전체 item_name 개수 확인
df['item_name'].value_counts()
# index[0]: 1번째 리스트 제목을 출력
df['item_name'].value_counts().index[0]

'Chicken Bowl'

In [ ]:
# items(): item_name, 개수를 튜플형태로 리턴해줌.
list(df['item_name'].value_counts().items())

[('Chicken Bowl', 726),
 ('Chicken Burrito', 553),
 ('Chips and Guacamole', 479),
 ('Steak Burrito', 368),
 ('Canned Soft Drink', 301),
 ('Chips', 211),
 ('Steak Bowl', 211),
 ('Bottled Water', 162),
 ('Chicken Soft Tacos', 115),
 ('Chips and Fresh Tomato Salsa', 110),
 ('Chicken Salad Bowl', 110),
 ('Canned Soda', 104),
 ('Side of Chips', 101),
 ('Veggie Burrito', 95),
 ('Barbacoa Burrito', 91),
 ('Veggie Bowl', 85),
 ('Carnitas Bowl', 68),
 ('Barbacoa Bowl', 66),
 ('Carnitas Burrito', 59),
 ('Steak Soft Tacos', 55),
 ('6 Pack Soft Drink', 54),
 ('Chips and Tomatillo Red Chili Salsa', 48),
 ('Chicken Crispy Tacos', 47),
 ('Chips and Tomatillo Green Chili Salsa', 43),
 ('Carnitas Soft Tacos', 40),
 ('Steak Crispy Tacos', 35),
 ('Chips and Tomatillo-Green Chili Salsa', 31),
 ('Steak Salad Bowl', 29),
 ('Nantucket Nectar', 27),
 ('Barbacoa Soft Tacos', 25),
 ('Chips and Roasted Chili Corn Salsa', 22),
 ('Izze', 20),
 ('Chips and Tomatillo-Red Chili Salsa', 20),
 ('Veggie Salad Bowl', 18),
 ('Chips and Roasted Chili-Corn Salsa', 18),
 ('Barbacoa Crispy Tacos', 11),
 ('Barbacoa Salad Bowl', 10),
 ('Chicken Salad', 9),
 ('Veggie Soft Tacos', 7),
 ('Carnitas Crispy Tacos', 7),
 ('Burrito', 6),
 ('Carnitas Salad Bowl', 6),
 ('Veggie Salad', 6),
 ('Steak Salad', 4),
 ('Crispy Tacos', 2),
 ('Bowl', 2),
 ('Salad', 2),
 ('Chips and Mild Fresh Tomato Salsa', 1),
 ('Veggie Crispy Tacos', 1),
 ('Carnitas Salad', 1)]

In [ ]:
df.columns
# 주문번호, 주문수량, 메뉴명, 추가옵션, 메뉴별 금액
# 'order_id', 'quantity', 'item_name', 'choice_description', 'item_price'

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [ ]:
## 메뉴별 주문 수량 체크

## 주문 평균 금액 체크

In [35]:
## 메뉴별 주문 수량 체크
df['item_name'].value_counts().head(5)

item_name
Chicken Bowl           726
Chicken Burrito        553
Chips and Guacamole    479
Steak Burrito          368
Canned Soft Drink      301
Name: count, dtype: int64

In [ ]:
### 주문 메뉴 Chicken Bowl 인 quantity 합계
# filt = df['item_name'].str.contains('Chicken Bowl')
# df.loc[filt, 'quantity'].sum()
df[df['item_name'] == 'Chicken Bowl']['quantity'].sum()

np.int64(761)

In [ ]:
df.groupby('item_name')['quantity'].sum().sort_values(ascending=False)

In [ ]:
## 주문 평균 금액을 체크
## 1. item_price -> float 변환
# df['item_price'] = df['item_price'].str[1:].astype(float)
# df['item_price'] = df['item_price'].str.replace('$', '').astype(float)
## 2. order_id 그룹화
df.groupby('order_id')['item_price']
## 3. order_id로 합계를 낸 후, 평균을 해야함.
df.groupby('order_id')['item_price'].sum().mean()

np.float64(18.811428571428568)

In [ ]:
# 총주문 수량을 출력하시오.
len(df['order_id'].unique()) # 1834개 주문이 들어옴
df.shape

(4622, 5)

In [113]:
### 각 아이템별 가격을 구하시오.
### 주문이 1개인 메뉴를 먼저 출력
filt = df['quantity'] == 1
df[filt].groupby('item_name')[['item_price']].min().count()

item_price    50
dtype: int64

In [148]:
## 한 주문당 20달러 이상 주문한 order_id를 출력
df_s = df.groupby('order_id').sum()['item_price'].sort_values(ascending=False)
filt = df.groupby('order_id').sum()['item_price'].sort_values(ascending=False) >= 20
df_s.loc[filt].count()

np.int64(589)

In [146]:
#### Veggie Salad Bowl
filt = df['item_name'] == 'Veggie Salad Bowl'
df.loc[filt].count()

order_id              18
quantity              18
item_name             18
choice_description    18
item_price            18
dtype: int64

In [ ]:
# Chicken Salad Bowl 몇개 주문되었는지 출력
# filt = df['item_name'] == 'Chicken Salad Bowl'
# df[filt]['quantity'].count()
# 주문 총수량
# df[filt]['quantity'].sum()
# df[filt]['quantity'].sort_values(ascending=False).head(30)

In [ ]:
# Chicken Bowl 2개 이상 주문한 횟수를 출력
# filt = (df['item_name'] == 'Chicken Bowl') & (df['quantity'] >= 2)
# df[filt][['quantity', 'item_name']].sort_values('quantity', ascending=False)
filt = (df['item_name'] == 'Chicken Bowl')
df[filt][['quantity', 'item_name']].sort_values('quantity', ascending=False).count()
df[filt]['quantity'].count() # 726 1, 1, 1, 1, 1, 1 .....
df[filt]['quantity'].sum() # 761 1, 2, 1, 3, 1, 1, 1 .....

np.int64(761)

In [ ]:
filt = df['item_name'] == 'Chicken Bowl'
df[filt].count()

df['item_name'].value_counts()

order_id              726
quantity              726
item_name             726
choice_description    726
item_price            726
dtype: int64